
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Layout/User_Layout.cshtml";
}

<style>
    p {
        font-size:26px;
        font-family:'Times New Roman';
        color: black;
    }
</style>
<div>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="title-section text-center col-12">
                    <h2 class="text-uppercase">Về chúng tôi</h2>
                </div>
            </div>

            <h2> </h2>
            <p>Được thành lập vào tháng 11/2011, Pharmacity là một trong những chuỗi nhà thuốc bán lẻ hiện đại đầu tiên tại thị trường Việt Nam, luôn luôn hướng đến mục tiêu nâng cao chất lượng chăm sóc sức khỏe cho từng khách hàng.</p>
            <p>Điều này, trước đây vốn chỉ nằm trong ý tưởng của ông Chris Blank – nhà sáng lập công ty, một dược sỹ người Mỹ làm việc nhiều năm tại Việt Nam. Với niềm đam mê và sự sáng tạo của mình, ông Chris Blank đã thành lập nên Pharmacity và mang đến những trải nghiệm tốt nhất cho khách hàng.</p>
            <p>Hiện nay Pharmacity đã có hệ thống nhà thuốc rải khắp các quận tại TP.HCM và nhiều tỉnh, thành phố lớn Hà Nội, Đà Nẵng, Cần Thơ, Thừa Thiên Huế, Bà Rịa – Vũng Tàu, Bình Dương, Long An, Đồng Nai, Tiền Giang&#8230; Chúng tôi hướng mục tiêu đến 2021 đạt được 1.000 cửa hàng bán lẻ thuốc và thực phẩm chức năng tại Việt Nam. Cùng với đó, trong tương lai Pharmacity sẽ mở rộng hệ thống của mình trên khắp cả nước, luôn hướng đến mục tiêu trở thành nhà thuốc bán lẻ hiện đại, mang đến trải nghiệm tối ưu cho khách hàng.</p>
            <p>Ở Pharmacity, mỗi dược sỹ không chỉ có năng lực chuyên môn cao, luôn tận tâm với nghề mà còn được đào tạo và huấn luyện để hoàn thành xuất sắc những sứ mệnh được giao, giúp Pharmacity luôn xứng đáng với niềm tin của khách hàng, xứng đáng với niềm tự hào của Việt Nam.</p>
            <p>Tại các cửa hàng trong hệ thống Pharmacity, chúng tôi cung cấp đầy đủ những loại thuốc từ Tây y đến Đông y, bên cạnh đó, Pharmacity còn có những sản phẩm để bạn chăm sóc sức khỏe và sắc đẹp cho những người thân yêu trong gia đình. Những nhóm sản phẩm chính chúng tôi cung cấp, bao gồm:</p>
            <p><em>• Dược phẩm</em><br /><em>• Đông y </em><br /><em>• Thực phẩm chức năng</em><br /><em>• Sản phẩm chăm sóc sức khỏe và làm đẹp</em><br /><em>• Thực phẩm bổ sung Vitamin và khoáng chất</em><br /><em>• Sản phẩm bách hóa gia đình</em></p>
            <p>Đến với mọi cửa hàng của Pharmacity, bạn đều được trải nghiệm và mua sắm những sản phẩm chất lượng cao, uy tín hàng đầu trên thị trường chăm sóc sức khỏe.</p>
            <p>Mỗi một khách hàng đến Pharmacity đều được hỗ trợ tận tình, tư vấn tận tâm như kim chỉ nam cho hoạt động kinh doanh của chúng tôi: <strong>“Tiết kiệm hơn – Sống khỏe hơn”</strong>.</p>

        </div>
    </div>
</div>

