
@{
    ViewBag.Title = "HoaDonBan";
    Layout = "~/Views/Layout/Admin_Layout.cshtml";
}



<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-chart-bar"></i>
        </span> Hóa đơn đã bán
    </h3>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-inline" style="margin-bottom:15px;">

                    <div class="form-group mx-sm-3 mb-2" style="margin-top:5px;">
                        <label for="sr-Ngay">Lọc theo ngày</label>
                        <input type="date" class="form-control" id="sr-Ngay" name="sr-Ngay">
                    </div>

                    <div class="form-group mx-sm-5 mb-2">
                        <label for="sr-Thang" style="margin-right:10px;">Lọc theo tháng</label>
                        <input type="month" class="form-control" id="sr-Thang" name="sr-Thang">
                    </div>

                    <button type="button" style="margin-bottom:5px;" id="btn-getAll" class="btn btn-outline-info"><i class="fa fa-reply-all" aria-hidden="true"></i></button>
                </form>

                <br />
                <br />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã Hóa Đơn</th>
                                <th scope="col">Tổng Tiền</th>
                                <th scope="col">Giảm Giá</th>
                                <th scope="col">Người Tạo</th>
                                <th scope="col">Khách Hàng</th>
                                <th scope="col">Ngày Tạo</th>
                                <th class="text-center">Chi Tiết</th>
                            </tr>
                        </thead>
                        <tbody id="HoaDonBan"></tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>
        </div>


        @*-- Modal chi tiết hóa đơn --*@
        <div class="modal fade" id="modal-detail-HDB">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Chi tiết hóa đơn mã: <span id="Title"></span></h4>
                            <button readonly type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline" style="margin-bottom:15px;margin:auto;">

                                <div class="form-group mx-sm-3 mb-2" style="margin-top:5px;">
                                    <label for="sr-Ngay">Tên khách hàng: </label>
                                    <label id="TenKH"></label>
                                </div>

                                <div class="form-group mx-sm-3 mb-2" style="margin-top:5px;">
                                    <label for="sr-Ngay">Ngày bán:</label>
                                    <label id="NgayTao"></label>
                                </div>

                                <div class="form-group mx-sm-3 mb-2" style="margin-top:5px;">
                                    <label for="sr-Ngay">Người bán:</label>
                                    <label id="TenNV"></label>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Tên Sp</th>
                                            <th scope="col">Mã Sp</th>
                                            <th scope="col">Số Lượng Bán</th>
                                            <th scope="col">Giá Bán</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ChiTietHD"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">Đóng</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        var pageIndex = 1;
        var TimTheoNgay = moment().format("YYYY-MM-DD");
        var TimTheoThang = moment().format("YYYY-MM");
        var Ngay = false;
        var Thang = false;

        const formatter = new Intl.NumberFormat('vi-en', {
            style: 'currency',
            currency: 'VND',
            minimumFractionDigits: 0
        })

        $(document).ready(function () {
            $('#sr-Ngay').val(moment().format("YYYY-MM-DD"));
            $('#sr-Thang').val(moment().format("YYYY-MM"));
            loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang)
        })

        function loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang) {
            $.ajax({
                type: "GET",
                url: "/HoaDonBan/Show",
                data: {
                    pageIndex: pageIndex,
                    TimTheoNgay: TimTheoNgay,
                    TimTheoThang: TimTheoThang,
                    Ngay: Ngay,
                    Thang: Thang,
                },
                success: function (data) {
                    TongTien = 0;
                    console.log(data);
                    $('#HoaDonBan').empty();
                    if (data.data.length > 0) {
                        $.each(data.data, function (k, v) {
                            let html = '<tr id="' + v.Id + '">'
                            html += '<td>' + k + '</td>'
                            html += '<td>' + v.MaHD + '</td>'
                            html += '<td>' + v.TongTien + '</td>'
                            html += '<td>' + v.GiamGia + '</td>'
                            html += '<td>' + v.TenNv + '</td>'
                            html += '<td>' + v.KhachHang + '</td>'
                            html += '<td>' + moment(v.NgayTao).format("kk:mm DD-MM-YYYY") + '</td>'
                            html += '<td style="max-width:150px;" class="text-center">'
                            html += '<button type="button" name="detail" class="btn btn-info btn-show"><i class="fa fa-plus" aria-hidden="true"></i></button>'
                            html += '</td>'
                            html += '</tr>'
                            $('#HoaDonBan').append(html);
                        })

                        if (data.soTrang > 1) {
                            let li = '';
                            if (pageIndex > 1) li += '<li class="page-item" ><a class="page-link" href ="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
                            for (i = 1; i <= data.soTrang; i++) {
                                if (i == pageIndex) li += '<li class="page-item" ><a class="page-link" href="#" style="background-color: #92a8d1;pointer-events: none;">' + i + '</a></li>'
                                else li += '<li class="page-item" ><a class="page-link" href="#">' + i + '</a></li>'
                            }
                            if (pageIndex < data.soTrang) li += '<li class="page-item"><a class="page-link" href ="#" aria-label="Next" id="Next"><span aria-hidden="true">&raquo;</span></a></li>'
                            $('#pagination').html(li);

                        } else {
                            let li = '<li class="page-item"><a class="page-link" href="#">1</a></li>'
                            $('#pagination').html(li);
                        }

                    } else {
                        let html = '<tr><td colspan="7"><span style="color: red">Không có dữ liệu.</span></td><tr>';
                        $('#HoaDonBan').append(html);
                    }
                }, error: function (jqXHR, textStatus, errorThrown) { }
            })
        }

        $('#pagination').on('click', 'li', function (e) {
            e.preventDefault();
            var p = $(this).text();
            if (p == '«') {
                pageIndex--;
                loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang)
            } else if (p == '»') {
                pageIndex++;
                loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang)
            } else {
                pageIndex = p;
                loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang)
            }

        })

        $('#sr-Ngay').change(function () {
            TimTheoNgay = moment($('#sr-Ngay').val()).format("YYYY-MM-DD");
            Ngay = true;
            Thang = false;
            loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang)
        })

        $('#sr-Thang').change(function () {
            TimTheoThang = moment($('#sr-Thang').val()).format("YYYY-MM-DD");
            Thang = true;
            Ngay = false;
            loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang)
        })
        $('#btn-getAll').click(function () {
            Thang = false;
            Ngay = false;
            loadData(pageIndex, TimTheoNgay, TimTheoThang, Ngay, Thang)
        })

        $(document).on('click', 'button[name="detail"]', function () {
            let id = $(this).closest('tr').attr('id');
            $.ajax({
                type: 'post',
                url: '/HoaDonBan/detail',
                data: {
                    Id: id,
                }, success: function (data) {
                    console.log(data);
                    $('#modal-detail-HDB').modal('show');

                    $('#Title').html(data.HoaDon.MaHD);
                    $('#TenKH').html(data.HoaDon.KhachHang);
                    $('#NgayTao').html(moment(data.HoaDon.NgayTao).format("kk:mm:ss DD-MM-YYYY"));
                    $('#TenNV').html(data.HoaDon.TenNv);

                    $('#ChiTietHD').empty();
                    if (data.ChiTietHD.length > 0) {
                        $.each(data.ChiTietHD, function (k, v) {
                            let html = '<tr id="' + v.Id + '">'
                            html += '<td>' + k + '</td>'
                            html += '<td>' + v.TenSp + '</td>'
                            html += '<td>' + v.MaSp + '</td>'
                            html += '<td>' + v.SoLuong + '</td>'
                            html += '<td>' + v.GiaBan + '</td>'
                            html += '</tr>'
                            $('#ChiTietHD').append(html);
                        })

                    } else {
                        let html = '<tr><td colspan="7"><span style="color: red">Không có dữ liệu.</span></td><tr>';
                        $('#HoaDonBan').append(html);
                    }
                }
            })
        })

    </script>

}

