
@{
    ViewBag.Title = "KhoHang";
    Layout = "~/Views/Layout/Admin_Layout.cshtml";
}

<div class="page-header">
<h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-biohazard"></i>
    </span> Kho Hàng
</h3>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <br />
                <br />
                <div class="table-responsive">

                    <form class="form-inline" style="margin-bottom:15px;">

                        <div class="form-group mx-sm-3 mb-2" style="margin-top:5px;">
                            <label for="search" class="sr-only">search</label>
                            <input type="text" class="form-control" id="search" name="search" placeholder="Tìm kiếm sản phẩm">
                        </div>
                        <button type="button" id="btn-search" class="btn btn-outline-info"><i class="fa fa-search" aria-hidden="true"></i></button>

                        <div class="form-group mx-sm-5 mb-2">
                            <label for="inputState" style="margin-right:10px;">Loại Sản Phẩm</label>
                            <select class="custom-select mr-sm-4" id="loaisp">
                                <option selected value="-1">Tất cả sản phẩm</option>
                                @foreach (var item in ViewBag.LoaiSp)
                                {
                                    <option value="@item.Id_LoaiSP">@item.TenLoaiSP</option>
                                }
                            </select>
                        </div>
                    </form>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã Hàng</th>
                                <th scope="col">Tên Sản Phẩm</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Giá Bán</th>
                                <th scope="col">Giảm Giá</th>
                                <th class="text-center">Xử lí</th>
                            </tr>
                        </thead>
                        <tbody id="spKhohang">
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" id="pagination">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-edit-Khh">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="" id="form-update-Khh" method="POST" role="form">
                <div class="modal-header">
                    <h4 class="modal-title" id="Title_sp"></h4>
                    <button readonly type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="number" hidden id="id_khohang" />
                    <div class="form-group">
                        <label for="tensp-edit">Mã hàng</label>
                        <input name="MaSp" type="text" value="" disabled class="form-control col-6" id="kh-MaSp" placeholder="Mã Hàng">
                    </div>
                    <div class="form-group">
                        <label for="tensp-edit">Tên sản phẩm</label>
                        <input name="TenSp" type="text" value="" disabled class="form-control" id="kh-TenSp" placeholder="Tên Sản Phẩm">
                    </div>
                    <div class="form-group">
                        <label for="">Số lượng</label>
                        <input type="number" value="" disabled class="form-control" id="kh-SoLuong">
                    </div>
                    <div class="form-group">
                        <label for="">Giá bán</label>
                        <input type="number" value="" class="form-control" id="kh-GiaBan">
                    </div><div class="form-group">
                        <label for="">Giảm giá</label>
                        <input type="number" value="" class="form-control" id="kh-GiamGia">
                    </div>
                    <div class="form-group">
                        <label for="">Ngày sản xuất</label>
                        <input type="date" value="" class="form-control" id="kh-NgaySx">
                    </div>
                    <div class="form-group">
                        <label for="">Hạn sử dụng</label>
                        <input type="date" value="" class="form-control" id="kh-HanSd">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Xác Nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        var timkiem = '';
        var loaisp = -1;
        var pageIndex = 1;

        const formatter = new Intl.NumberFormat('vi-en', {
            style: 'currency',
            currency: 'VND',
            minimumFractionDigits: 0
        })

        $(document).ready(function () {
            loadData(timkiem, loaisp, pageIndex);
        })

        function loadData(timkiem, loaisp, pageIndex) {
            $.ajax({
                type: "GET",
                url: "/KhoHang/LayDuLieuKhoHang",
                data: {
                    Id_NhanVien: Id_NhanVien,
                    Id_LoaiSp: loaisp,
                    TimKiem: timkiem,
                    pageIndex: pageIndex,
                },
                success: function (data) {
                    TongTien = 0;
                    console.log(data);
                    $('#spKhohang').empty();
                    if (data.khohang.length > 0) {
                        $.each(data.khohang, function (k, v) {
                            let html = '<tr id="' + v.Id + '">'
                            html += '<td>' + k + '</td>'
                            html += '<td>' + v.MaHang + '</td>'
                            html += '<td>' + v.TenSp + '(' + v.SoLuong + ')</td>'
                            html += '<td>' + v.SoLuong + '</td>'
                            html += '<td>' + formatter.format(v.GiaBan) + '</td>'
                            html += '<td>' + formatter.format(v.GiamGia) + '</td>'
                            html += '<td style="max-width:150px;" class="text-center">'
                            html += '<button type="button" name="show" class="btn btn-info btn-show" > <i class="fa fa-info-circle"></i></button> '
                            html += '<button type="button" name="edit" class="btn btn-warning btn-edit"><i class="fa fa-upload"></i></button>'
                            html += '</td>'
                            html += '</tr>'
                            $('#spKhohang').append(html);
                        })

                        if (data.soTrang > 1) {
                            let li = '';
                            if (pageIndex > 1) li += '<li class="page-item" ><a class="page-link" href ="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
                            for (i = 1; i <= data.soTrang; i++) {
                                if (i == pageIndex) li += '<li class="page-item" ><a class="page-link" href="#" style="background-color: #92a8d1;pointer-events: none;">' + i + '</a></li>'
                                else li += '<li class="page-item" ><a class="page-link" href="#">' + i + '</a></li>'
                            }
                            if (pageIndex < data.soTrang) li += '<li class="page-item"><a class="page-link" href ="#" aria-label="Next" id="Next"><span aria-hidden="true">&raquo;</span></a></li>'
                            $('#pagination').html(li);

                        } else {
                            let li = '<li class="page-item"><a class="page-link" href="#">1</a></li>'
                            $('#pagination').html(li);
                        }

                    } else {
                        let html = '<tr><td colspan="7"><span style="color: red">Không có dữ liệu.</span></td><tr>';
                        $('#spKhohang').append(html);
                    }


                }, error: function (jqXHR, textStatus, errorThrown) { }
            })
        }
        $('#btn-search').click(function () {
            timkiem = $('#search').val();
            loaisp = $('#loaisp').val();

            loadData(timkiem, loaisp, pageIndex);
        })

        $('#loaisp').change(function () {
            timkiem = $('#search').val();
            loaisp = $('#loaisp').val();

            loadData(timkiem, loaisp, pageIndex);
        })

        $(document).on('click', 'button[name="show"]', function () {
            $('#modal-edit-Khh').modal('show');
            $('#Title_sp').html('Chi Tiết Sản Phẩm');
            $('#submit_edit').hide();
            $('#kh-GiaBan').attr('readonly', true);
            $('#kh-GiamGia').attr('readonly', true);
            $('#kh-NgaySx').attr('disabled', true);
            $('#kh-HanSd').attr('disabled', true);
            let id = $(this).closest('tr').attr('id');
            $.ajax({
                type: 'Get',
                url: '/KhoHang/Detail',
                data: {
                    id: id,
                },
                success: function (data) {
                    console.log(data)
                    $('#kh-MaSp').val(data.data.MaHang);
                    $('#kh-TenSp').val(data.data.TenSp);
                    $('#kh-SoLuong').val(data.data.SoLuong);
                    $('#kh-GiaBan').val(data.data.GiaBan);
                    $('#kh-GiamGia').val(data.data.GiamGia);
                    $('#kh-NgaySx').val(moment(data.data.NgaySx).format("YYYY-MM-DD"));
                    $('#kh-HanSd').val(moment(data.data.HanSd).format("YYYY-MM-DD"));
                }, error: function (jqXHR, textStatus, errorThrown) { }
            })
        })

        $(document).on('click', 'button[name="edit"]', function () {
            $('#modal-edit-Khh').modal('show');
            $('#Title_sp').html('Chi Tiết Sản Phẩm');
            $('#submit_edit').show();
            $('#kh-GiaBan').attr('readonly', false);
            $('#kh-GiamGia').attr('readonly', false);
            $('#kh-NgaySx').attr('disabled', false);
            $('#kh-HanSd').attr('disabled', false);
            let id = $(this).closest('tr').attr('id');
            $.ajax({
                type: 'Get',
                url: '/KhoHang/Detail',
                data: {
                    id: id,
                },
                success: function (data) {
                    console.log(data)
                    $('#id_khohang').val(data.data.Id);
                    $('#kh-MaSp').val(data.data.MaHang);
                    $('#kh-TenSp').val(data.data.TenSp);
                    $('#kh-SoLuong').val(data.data.SoLuong);
                    $('#kh-GiaBan').val(data.data.GiaBan);
                    $('#kh-GiamGia').val(data.data.GiamGia);
                    $('#kh-NgaySx').val(moment(data.data.NgaySx).format("YYYY-MM-DD"));
                    $('#kh-HanSd').val(moment(data.data.HanSd).format("YYYY-MM-DD"));
                }, error: function (jqXHR, textStatus, errorThrown) { }
            })
        })

        $('#form-update-Khh').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '/KhoHang/Update',
                data: {
                    Id: $('#id_khohang').val(),
                    GiaBan: $('#kh-GiaBan').val(),
                    GiamGia: $('#kh-GiamGia').val(),
                    NgaySx: moment($('#kh-NgaySx').val()).format("YYYY-MM-DD"),
                    HanSd: moment($('#kh-HanSd').val()).format("YYYY-MM-DD"),
                }, success: function (data) {
                    cuteToast({
                        type: "success", // or 'info', 'error', 'warning'
                        message: data.msg,
                        timer: 5000
                    });
                    $('#modal-edit-Khh').modal('hide');
                    loadData(timkiem, loaisp, pageIndex);
                }, error: function (error) { console.log(error) }
            })
            

        })

    </script>

}